.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 20px;
  background-color: rgb(236, 116, 87);
  margin-bottom: 40px;
}

.header h1 {
  padding: 0;
  margin: 0;
}

.btn1 {
  margin-top: 10px;
  background: rgb(50, 34, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px;
}

.main-container {
  padding: 0 20%;
}

.main {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
}
